volumes
art/strands-opensearch-agent/
art/agentic-relevance-tuning/
.env
build/
.idea/
.vscode/
*.bu
*.DS_Store
katas/.venv
katas/.ipynb_checkpoints
katas/celerybeat-schedule.db
katas/django-errors.log
venv/
__pycache__/

reactivesearch/node_modules
RES
