.idea/
.vscode/
transformed_data*.json
icecat-products-w_price-19k-20201127.tar.gz
icecat-products-w_price-19k-20201127.json
*.bu
*.DS_Store
.*.json
*.json
katas/.venv
katas/.ipynb_checkpoints
katas/celerybeat-schedule.db
katas/django-errors.log
venv/
__pycache__/
esci.json.zst
sample.json.gz
