http://localhost:2022 {
	reverse_proxy dataprepper:2021 {
		header_up Host {host}
		header_up X-Real-IP {remote_addr}
		header_up X-Forwarded-For {remote_addr}
	}

	@options {
		method OPTIONS
	}

	handle @options {
		# Add CORS headers
		header Access-Control-Allow-Origin *
		header Access-Control-Allow-Methods GET,POST,PUT,DELETE,OPTIONS
		header Access-Control-Allow-Headers DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range
		header Access-Control-Expose-Headers Content-Length,Content-Range
	}
}
